<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<!--Navbar-->
<nav class="navbar" style="background-color: #008080">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <a class="navbar-brand" style="color: white">CRM Система</a>
            <a th:href="${'/'}" style="color: #b9bbbe" class="AAA-HOVER">Все заявки</a>
            <a th:href="${'/newAppReq'}" style="color: #b9bbbe" class="ml-3">Новые заявки</a>
            <a th:href="${'/processedApplications'}" style="color: #b9bbbe" class="ml-3">Обработанные заявки</a>
            <a th:href="${'Add-Page'}" style="color: #b9bbbe" class="ml-3">+Добавить заявку</a>

        </div>
        <form class="d-flex" role="search" action="/search" method="get">
            <div style="margin-right:5px">
                <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
            </div>
            <button class="btn btn-outline-white" type="submit">Search</button>
        </form>
    </div>
</nav>

</body>
</html>